<div class=" w-screen h-screen flex bg-[#2b2d42]">
    <div class="left-div w-4/6 h-full">
            <div class="image w-full h-4/6">
                <!-- <img class="w-full h-full" src="" alt="image description"> -->
            </div>
        <div class="name w-full h-2/6 text-white flex justify-center items-center text-6xl">
             <ngx-typed-js [strings]="['Coders', 'FreeLancers','Designers']" [loop]="true" [typeSpeed]="100">
                We are <a class="typing text-red-600"></a>
              </ngx-typed-js>
        </div>
    </div>
    <div class="right-div w-3/6 h-full">
        <div class=" w-full h-5/6 text-white flex justify-center items-center text-4xl">
               <div class="wrapper">
                   <p>Coding is</p>
                   <div class="words">
                       <span>fantastic</span>
                       <span>interesting</span>
                       <span>awesome</span>
                       <span>incredible</span>
                       <span>fantastic</span>
                   </div>
               </div>
               <div class="absolute bottom-64 right-0">
               <div class="handles flex items-center rotate-90 gap-8">
               <div class="text-[20px] text-[#edf2f4]">Follow-us</div>
               <div class="flex space-x-6 mt-4 md:mt-0 rotate-180">
                <a href="#" class=" hover:text-green-500 transition-colors duration-300 rotate-90 icon-small text-[#edf2f4]">
                    <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="#" class=" hover:text-blue-500 transition-colors duration-300 rotate-90 icon-small text-[#edf2f4]">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                  <a href="#" class=" hover:text-pink-500 transition-colors duration-300 rotate-90 icon-small text-[#edf2f4]">
                    <i class="fab fa-instagram"></i>
                  </a>
            </div>
        </div>
    </div>
    </div>
    <div class="contact w-full h-1/6 flex flex-col gap-8 items-center justify-center ">
        
            <form class=" w-full flex flex-row justify-center items-center gap-3">
                <input type="tel" id="phone" name="phone" class="w-2/6 h-full p-2 rounded-md cursor-text text-[#000]" placeholder="Book For Appointment..." required>
                <button class="bg-[#ef233c] text-[#edf2f4] rounded w-20 h-10">Submit</button>
            </form>
        </div>
    </div>
</div>
