<div class=" w-screen h-screen flex">
    <div class="left-div w-4/6 h-full">
            <div class="image w-full h-4/6">
                <!-- <img class="w-full h-full" src="" alt="image description"> -->
            </div>
        <div class="name w-full h-2/6 text-white flex justify-center items-center text-6xl">
             <ngx-typed-js [strings]="['Coders', 'FreeLancers','Designers']" [loop]="true" [typeSpeed]="100">
                We are <a class="typing text-red-600"></a>
              </ngx-typed-js>
        </div>
    </div>
    <div class="right-div w-3/6 h-full ">
        <div class=" w-full h-5/6 text-white flex justify-center items-center text-4xl">
               <div class="wrapper">
                   <p>Coding is</p>
                   <div class="words">
                       <span>fantastic</span>
                       <span>interesting</span>
                       <span>awesome</span>
                       <span>incredible</span>
                       <span>fantastic</span>
                   </div>
               </div>
        </div>
    <div class="contact w-full h-1/6 flex flex-col gap-2 items-center justify-center">
            <form class=" w-full flex flex-row justify-center items-center gap-3">
                <input type="tel" id="phone" name="phone" class="w-2/6 h-full p-2 rounded-md cursor-text" placeholder="Book For Appointment..." required>
                <button class="bg-blue-700 text-white rounded w-20 h-10">Submit</button>
            </form>
        </div>
    </div>
</div>
